/* PC */
@media(min-width: 1024px) {

}

/* Tablet & Mobile */
@media(max-width: 1023px) {
    .button-color {
        padding: 15px 14px;
    }

    #contact-section .contact-form input  {
        padding: 14px;
    }

    #contact-section .contact-info p { 
        line-height: 1.7;
        font-size: 20px;
    }

    #footer .linked a  {
        margin: 0 8px;
    }

    #footer .make-by a {
        margin: 12px 0;
        display: inline-block;
    }

    .ticket-modal .ticket-content p {
        font-size: 18px;
        line-height: 1.5;
    }

    .ticket-modal .ticket-content input {
        padding: 16px
    }

    .ticket-modal .ticket-content .help {
        font-size: 20px;
    }
}


/* Tablet */
@media(min-width: 740px) and (max-width: 1023px) {
    
}


/* Mobile */
@media(max-width: 739px) {
    #header {
        overflow: hidden;
    }
    
    #nav>li  {
        float: none;
    }
    
    #header #mobile-menu-btn {
        display: block;
    }
    
    #header #mobile-menu-btn:hover {
        color: #000;
        background-color: #ccc;
    }
    
    #nav>li>a {
        display: block;
    }

    #nav>li>a:hover {
        background-color: #ccc;
        color: #000;
    }
    #nav .subnav {
        position: initial;
    }
    
    #nav .subnav li {
    }

    #nav .subnav a {
        display: block;
        background-color: #333;
        color: #fff;
    }
    
    #nav .mobile-nav-home {
        display: inline-block;
    }
    
    #header .search-btn {
        display: none;
    }

    #about-section .member-container .mobile-member {
        float: none;
        width: auto;
    }

    .tour-section .place-container .mobile-place-container {
        float: none;
        width: auto;
    }

    .place-content .buy-tiket-btn {
        width: 100%;
    }
    .ticket-modal {
        width: 90%;
    }

    #contact-section .contact-form .mobile-name {
        float: none;
        width: auto;
        padding: 0;
    }

    #contact-section .mobile-contact-info,
    #contact-section .mobile-contact-form {
        float: none;
        width: auto;
    }

    #contact-section .contact-form .mobile-send-btn {
        float: none;
        width: 100%;
    }

    #contact-section .contact-info {
        margin-bottom: 24px;
    }
}